<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Speech Care</title>
    <!-- <title>Expert Speech Therapists: Treat Stuttering with Convenient Teletherapy Sessions</title> -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/slider/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/slider/css/owl.theme.default.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}" />

</head>

<body>

    <!-- ################# Header Starts Here#######################--->
    <header id="menu-jk">

        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                        <img class="logo" src="{% static 'assets/images/logo.png' %}" alt="">
                        <a data-toggle="collapse" data-target="#menu" href="#menu"><i
                                class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#about_us">About Us</a></li>
                            <li><a href="#contact_us">Contact Us</a></li>
                            <li>
                                <a href="https://www.facebook.com/speechcare.in" target="_blank"><i
                                        class="fab fa-facebook fa-2x" id="icon"></i></a>
                                <a href="https://www.instagram.com/speechcare.in?igsh=MWtvNGdreTJ4ZWh6Zw=="
                                    target="_blank"><i class="fab fa-instagram fa-2x ml-2" id="icon"></i></a>
                                <a href="tel:+919311125459" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"
                                        id="icon"></i></a>
                                <a href="https://www.youtube.com/@speechcare." target="_blank"><i
                                        class="fab fa-youtube fa-2x ml-2" id="icon"></i></a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-2 d-none d-lg-block appoint">
                        <button class="btn btn-success">Book an Appointment</button>
                    </div>
                </div>

            </div>
        </div>
    </header>


    <!-- ################# Slider Starts Here#######################--->

    <!--***************************** Slider Starts Here *****************************-->
    <a href="https://api.whatsapp.com/send?phone=+919311135459&text=Hello%2C%20I%27m%20interested%20in%20your%20therapy."
        class="fixed-button whatsapp-button">

        <i class="fab fa-whatsapp fa-2x"></i>
    </a>

    <div class="slider container-fluid">
        <ul id="slider">
            <li data-active="1" data-background="{% static 'assets/images/slider/slider_1.jpg' %}">
                <div class="slider-layer">
                    <div class="container">
                        <h1 class="animated  fadeInRightBig ">Speech Care .<br> Because Your Speech matters ...</h1>
                        <p class="animated  fadeInLeftBig">Revolutionizing stuttering disorder treatment with
                            personalized online therapy plans for quick results.<br> Sufficient for the day is its own
                            trouble.</p>
                        <span class="animated  fadeInLeftBig ">Dr Kumar Jyotish</span>
                        <div class="animated fadeInUpBig buttn-row">
                            <div class="btn">Book an Appointment</div>

                        </div>
                    </div>
                </div>

            </li>
            <li data-active="0" data-background="{% static 'assets/images/slider/slider_1.jpg' %}">
                <div class="slider-layer">
                    <div class="container">
                        <h1 class="animated  slideInDown ">You are in the Right Place <br> at the Right Time</h1>
                        <p class="animated  zoomInLeft ">Revolutionizing stuttering disorder treatment with personalized
                            online therapy plans for quick results.<br> Sufficient for the day is its own trouble.</p>
                        <span class="animated  slideInUp ">Dr Kumar Jyotish</span>
                        <div class="buttn-row animated  zoomInLeft">
                            <div class="btn">Book an Appointment</div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div><!--########## Slider Ends Here ##########-->

    <!-- ################# Key Features Starts Here#######################--->
    <section class="with-medical">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-12 txtr">
                    <h4>
                        <span>Welcome to Speech Care</span>
                    </h4>
                    <p>where we specialize in the online assessment and management of stuttering disorder. With over 4
                        years of experience, our team of dedicated speech therapists is here to help you achieve fluent
                        speech and improve your communication skills from the comfort of your home."</p>

                </div>

                <img class="what" src="{% static 'assets/images/what.png' %}" alt="">
            </div>

        </div>
        </div>
    </section>


    <!-- ################# With Medical Starts Here#######################--->

    <section class="with-medical">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <img src="{% static 'assets/images/why.jpg' %}" alt="">
                </div>
                <div class="col-lg-6 col-md-12 txtr">
                    <h4>
                        <span>What is Stuttering</span>
                    </h4>
                    <p>Stuttering is a speech disorder characterized by repetition of sounds, syllables, or words;
                        prolongation of sounds; and interruptions in speech known as blocks. An individual who stutters
                        exactly knows what he or she would like to say but has trouble producing a normal flow of
                        speech. These speech disruptions may be accompanied by struggle behaviors, such as rapid eye
                        blinks or tremors of the lips. Stuttering can make it difficult to communicate with other
                        people, which often affects a person’s quality of life and interpersonal relationships.
                        Stuttering can also negatively influence job performance and opportunities, and treatment can
                        come at a high financial cost..</p>
                    <h4>''Almost 80 million people worldwide stutter, about 1% of the world's population.''</h4>

                </div>

            </div>
        </div>
    </section>

    <!-- ################# With Medical Starts Here part 2#######################--->


    <section class="with-medical">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <img src="{% static 'assets/images/works.png' %}" alt="">
                </div>
                <div class="col-lg-6 col-md-12 txtr">
                    <h4>
                        How It Works
                    </h4>
                    <ol class="list-group">
                        <li class="list-group-item">Step 1: First book an appointment, then our team will call
                            you for an initial consultation. Schedule a free audio call to discuss your needs
                            and learn more about our services.</li>
                        <li class="list-group-item">Step 2: Undergo a comprehensive assessment with one of our
                            expert therapists to identify your specific challenges and goals.</li>
                        <li class="list-group-item">Step 3: Receive a customized therapy plan designed to
                            address your unique needs and help you achieve fluent speech.</li>
                        <li class="list-group-item">Step 4: Participate in regular online therapy sessions,
                            complete with exercises and strategies tailored to your progress.</li>
                        <li class="list-group-item">Step 5: Benefit from continuous support, progress tracking,
                            and adjustments to your therapy plan as needed.</li>
                    </ol>
                    <p class="text-center mt-4">Ready to start your journey towards fluent speech?
                        <strong>Contact us today to schedule your free initial consultation.</strong>
                    </p>
                    <div class="animated fadeInUpBig buttn-row">
                        <div class="btn btn-primary mt-4">Book an Appointment</div>

                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>
    </section>

    <!--  ************************* Faq section ************************** -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="faq-header">FAQs</div>
                <div class="faq-question">
                    <i class="faq-icon-blue fas fa-question-circle"></i>
                    What is tele speech therapy?
                </div>
                <div class="faq-answer">
                    Tele speech therapy is the delivery of speech therapy services through online platforms, allowing
                    you to receive care from the comfort of your home.
                </div>
                <div class="faq-question">
                    <i class="faq-icon-blue fas fa-question-circle"></i>
                    How long are the therapy sessions? What technology do I need for online sessions?
                </div>
                <div class="faq-answer">
                    Sessions typically last 35-40 minutes, depending on your therapy plan and goals. You'll need a
                    computer, tablet with a webcam, and a stable internet connection. We use secure, user-friendly
                    platforms for our sessions.
                </div>
            </div>

            <div class="col-md-6">
                <div class="faq-question">
                    <i class="faq-icon-orange fas fa-question-circle"></i>
                    How do I know if tele speech therapy is right for me?
                </div>
                <div class="faq-answer">
                    Tele speech therapy is suitable for many individuals who stutter. Our initial consultation will help
                    determine if it meets your specific needs.
                </div>
                <div class="faq-question">
                    <i class="faq-icon-orange fas fa-question-circle"></i>
                    Is online speech therapy covered by insurance?
                </div>
                <div class="faq-answer">
                    Coverage varies by insurance provider. We recommend checking with your insurer to determine if tele
                    speech therapy is included in your plan.
                </div>

                <div class="faq-question">
                    <i class="faq-icon-orange fas fa-question-circle"></i>
                    What technology do I need for online sessions?
                </div>
                <div class="faq-answer">
                    You'll need a computer, Mobile or tablet with a webcam and a stable internet connection. We use
                    secure, user-friendly platforms for our sessions
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12 faq-illustration">
                <img class="illu" src="{% static 'assets/images/illu.png' %}" alt="">
            </div>
        </div>
    </div>

    <section id="about_us" class="with-medical">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-12 txtr">
                    <h4>
                        <span>About us</span>
                    </h4>
                    <p><b>Our Mission</b>:
                        At Speech Care, our mission is to provide accessible, effective, and compassionate speech
                        therapy for individuals who stutter. We believe in empowering our clients to achieve their
                        fullest potential through personalized care and cutting-edge techniques.
                    </p><br>
                    <p><b>Our Team</b>:
                        Our team comprises certified speech-language pathologists with specialized training in
                        stuttering. Each therapist brings years of experience and a passion for helping individuals
                        achieve fluency and confidence in their speech.
                    </p><br>
                    <p><b>Why Choose Us?</b></p><br>
                    <ul>
                        <li><b>Convenience:</b> Online therapy sessions that fit into your schedule and lifestyle.</li>
                        <br>
                        <li><b>Expertise:</b> Professional therapists with a focus on stuttering disorders.</li><br>
                        <li><b>Personalized Care:</b> Tailored therapy plans designed to meet individual needs.</li><br>
                        <li><b>Community Support:</b> Ongoing support and resources for continuous improvement.</li>
                    </ul>
                </div>

                <img class="what" src="{% static 'assets/images/about.png' %}" alt="">
            </div>

        </div>
        </div>
    </section>



    <section id="services" class="with-medical">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-12 txtr">
                    <h4>
                        <span>Services</span>
                    </h4>
                    <p><b>Assessment</b>:
                        Our comprehensive assessment process includes:
                        Detailed history and evaluation

                        Diagnostic testing to identify the severity and nature of stuttering

                        Personalized feedback and recommendations
                    </p><br>
                    <p><b>Progress Monitoring
                        </b>:
                    <ol>
                        <li>Regular progress reviews</li>
                        <li>Adjustments to therapy plans based on individual progress</li>
                        <li>Ongoing support and motivation</li>
                    </ol>

                    </p><br>
                    <p><b>Therapy Sessions</b></p><br>
                    <b>We offer one-on-one therapy sessions focusing on:</b>
                    <ol>


                        <li>Speech techniques and strategies to manage stuttering</li>

                        <li>Cognitive-behavioral approaches to reduce anxiety and negative thoughts</li>

                        <li>Regular practice and reinforcement exercises</li>
                    </ol>
                </div>

                <img class="what" src="{% static 'assets/images/about.png' %}" alt="">
            </div>

        </div>
        </div>
    </section>



    <!--  ************************* Contact Us Starts Here ************************** -->
<form action="" method="post">
    {% csrf_token %}
    <section id="contact_us" class="contact-us-single container-fluid">
        <div class="row no-margin">
            <div class="col-sm-6 cop-ck">
                <h2>Contact Form</h2>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label>Enter Name :</label></div>
                    <div class="col-sm-8"><input type="text" placeholder="Enter Name" name="name"
                            class="form-control input-sm"></div>
                </div>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label>Email Address :</label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Email Address"
                            class="form-control input-sm"></div>
                </div>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label>Mobile Number:</label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Mobile Number"
                            class="form-control input-sm"></div>
                </div>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label>Enter Message:</label></div>
                    <div class="col-sm-8">
                        <textarea rows="5" placeholder="Enter Your Message" class="form-control input-sm"></textarea>
                    </div>
                </div>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label></label></div>
                    <div class="col-sm-8">
                        <button class="btn btn-success btn-sm">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

    <!-- ################# Footer Starts Here#######################--->


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        At SpeechCare, we’re passionate about hearing health. Our licensed audiologists blend expertise
                        with compassion, ensuring personalized care for every patient. Our mission? To improve lives
                        through better hearing and balance health.
                    </p>
                    <p>Whether you’re seeking diagnostics, rehabilitation,
                        or preventive services, we’re here for you. Join our community, where diversity, ethical
                        standards, and patient-centered care intersect. Visit us at (your clinic address) or call (your
                        phone number) to embark on your hearing health journey together! 🌟12
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="about" href="#about_us">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="contact" href="#contact_us">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        Email: <a href="mailto:support@speechcare.in" class="">support@speechcare.in</a><br>
                        <form method="post">
                            {% csrf_token %}
                            <input type="email" name="lemail" id="" placeholder="Email"><br>
                            <button type="submit" class="btn btn-primary m-1">Submit</button>

                        </form>



                        Web: <a href="speechcare" class="">www.speechcare.in</a><br>
                        <span>
                            <a href="https://www.facebook.com/speechcare.in" target="_blank"><i
                                    class="fab fa-facebook fa-4x ml-1" id="icon"></i></a>
                            <a href="https://www.instagram.com/speechcare.in?igsh=MWtvNGdreTJ4ZWh6Zw=="
                                target="_blank"><i class="fab fa-instagram fa-4x ml-3" id="icon"></i></a>
                            <a href="tel:+919311125459" target="_blank"><i class="fab fa-whatsapp fa-4x ml-3"
                                    id="icon"></i></a>
                            <a href="https://www.youtube.com/@speechcare." target="_blank"><i
                                    class="fab fa-youtube fa-4x ml-3" id="icon"></i></a>
                        </span>
                    </address>

                </div>
            </div>
        </div>


    </footer>
    <div class="copy">
        <div class="container">
            <a href="https://www.mandeep-developer.site/">2024 &copy; All Rights Reserved | Designed and Developed by
                Developer</a>

            <span>
                <a href="https://github.com/Mannu258" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/Mannu_258" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/mandeep-mishra-843378223/" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            </span>
        </div>

    </div>

</body>

<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'assets/plugins/scroll-nav/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/plugins/scroll-nav/js/scrolling-nav.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>


</html>